/* Try different box model properties below */
.pages__page {
  border-radius: 4px;
  background: #fff;
}
.pages__page:hover {
  color: red;
}
.countries {
  width: 400px;
  height: 220px;
  margin: 10px;
}
.country {
  padding: 5px;
}
